In [406]:
import numpy as np
import pandas as pd

In [407]:
laliga = pd.read_csv("Laliga.csv",delimiter=",")
print(laliga)
print(type(laliga))

    Pos                 Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
0     1          Real Madrid       86   4385        2762     1647        552
1     2            Barcelona       86   4262        2762     1581        573
2     3      Atletico Madrid       80   3442        2614     1241        598
3     4             Valencia       82   3386        2664     1187        616
4     5      Athletic Bilbao       86   3368        2762     1209        633
5     6              Sevilla       73   2819        2408      990        531
6     7             Espanyol       82   2792        2626      948        608
7     8        Real Sociedad       70   2573        2302      864        577
8     9             Zaragoza       58   2109        1986      698        522
9    10           Real Betis       51   1884        1728      606        440
10   11  Deportivo La Coruna       45   1814        1530      563        392
11   12           Celta Vigo       51   1789        1698      586        389
12   13           Valladolid       42   1471        1466      463        384
13   14     Racing Santander       44   1416        1428      453        336
14   15       Sporting Gijon       43   1389        1458      471        358
15   16              Osasuna       37   1351        1318      426        327
16   17               Malaga       36   1314        1255      390        330
17   18               Oviedo       38   1174        1192      408        292
18   19             Mallorca       27   1148         988      333        256
19   20           Las Palmas       33   1020        1096      367        242
20   21           Villarreal       17    970         646      266        172
21   22              Granada       23    667         742      218        175
22   23       Rayo Vallecano       17    662         652      189        148
23   24                Elche       21    606         678      203        180
24   25               Getafe       12    553         456      147        112
25   26             Hercules       20    538         628      184        149
26   27             Tenerife       13    510         494      155        128
27   28               Murcia       18    445         586      145        143
28   29               Alaves       12    421         380      125         81
29   30              Levante       11    416         402      113         95
..  ...                  ...      ...    ...         ...      ...        ...
31   32             Sabadell       14    353         426      129         95
32   33                Cadiz       12    343         448      104        127
33   34             Logrones        9    293         346       96         92
34   35            Castellon       11    285         334      103         79
35   36             Albacete        7    277         270       76         76
36   37              Almeria        6    242         228       62         56
37   38              Cordoba        9    230         282       82         63
38   39           Compostela        4    190         160       52         45
39   40           Recreativo        5    188         186       50         46
40   41            Burgos CF        6    168         204       59         50
41   42           Pontevedra        6    150         180       53         44
42   43             Numancia        4    148         152       37         37
43   44                Eibar        3    132         114       35         27
44   45               Arenas        7    107         130       43         21
45   46          Real Burgos        3     96         114       26         44
46   47            Gimnastic        4     91         116       34         16
47   48          Extremadura        2     83          80       20         23
48   49               Merida        2     81          80       19         24
49   50             Alcoyano        4     76         108       30         16
50   51                 Jaen        3     71          90       29         13
51   52           Real Union        4     56          72       21         14
52   53           AD Almeria        2     52          68       17         18
53   54               Europa        3     42          54       18          6
54   55               Lleida        2     40          68       13         14
55   56              Leganes        1     35          38        8         11
56   57                Xerez        1     34          38        8         10
57   58               Condal        1     22          30        7          8
58   59      Atletico Tetuan        1     19          30        7          5
59   60     Cultural Leonesa        1     14          30        5          4
60   61               Girona        1      -           -        -          -

   GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
0        563     5947         3140       33        23     8      8     3
1        608     5900         3114       25        25    12     12     4
2        775     4534         3309       10         8    16      9     7
3        861     4398         3469        6         6    10     11    10
4        920     4631         3700        8         7    10      5     8
5        887     3680         3373        1         4     4      5    12
6       1070     3609         3889        -         -     4      5     2
7        861     3228         3230        2         3     2      5     4
8        766     2683         2847        -         1     4      5     4
9        682     2159         2492        1         -     2      3     4
10       575     2052         2188        1         5     4      1     -
11       723     2278         2624        -         -     -      2     4
12       619     1767         2180        -         -     -      1     1
13       639     1843         2368        -         1     1      2     -
14       629     1753         2152        -         1     1      2     2
15       565     1500         1834        -         -     -      2     2
16       535     1421         1763        -         -     -      1     -
17       492     1642         1951        -         -     3      2     2
18       399     1182         1371        -         -     2      -     2
19       487     1347         1746        -         1     1      1     1
20       208      892          789        -         1     1      2     3
21       349      819         1157        -         -     -      -     -
22       305      760         1088        -         -     -      -     -
23       295      750         1022        -         -     -      -     1
24       197      520          633        -         -     -      -     -
25       295      716         1050        -         -     -      -     1
26       211      619          744        -         -     -      -     2
27       298      607          992        -         -     -      -     -
28       174      458          623        -         -     -      -     -
29       194      430          632        -         -     -      -     -
..       ...      ...          ...      ...       ...   ...    ...   ...
31       202      492          720        -         -     -      1     1
32       217      393          662        -         -     -      -     -
33       158      291          489        -         -     -      -     -
34       152      419          588        -         -     -      1     2
35       118      320          410        -         -     -      -     -
36       110      244          366        -         -     -      -     -
37       137      285          430        -         -     -      -     1
38        63      199          241        -         -     -      -     -
39        90      202          296        -         -     -      -     -
40        95      216          310        -         -     -      -     -
41        83      165          221        -         -     -      -     -
42        78      155          253        -         -     -      -     -
43        52      139          167        -         -     -      -     -
44        66      227          308        -         -     1      -     3
45        44      101          139        -         -     -      -     -
46        66      181          295        -         -     -      -     -
47        37       62          117        -         -     -      -     -
48        37       70          115        -         -     -      -     -
49        62      145          252        -         -     -      -     -
50        48      121          183        -         -     -      -     -
51        37      153          184        -         -     -      -     -
52        33       71          116        -         -     -      -     -
53        30       97          131        -         -     -      -     -
54        41       70          182        -         -     -      -     -
55        19       36           55        -         -     -      -     -
56        20       38           66        -         -     -      -     -
57        15       37           57        -         -     -      -     -
58        18       51           85        -         -     -      -     -
59        21       34           65        -         -     -      -     -
60         -        -            -        -         -     -      -     -

   Sixth   T    Debut Since/LastApp  BestPosition
0      4  79     1929          1929             1
1      6  83     1929          1929             1
2      6  56     1929       2002-03             1
3      7  50  1931-32       1987-88             1
4     10  49     1929          1929             1
5      6  32  1934-35       2001-02             1
6      5  16     1929       1994-95             3
7      3  19     1929       2010-11             1
8      4  18  1939-40       2012-13             2
9      4  14  1932-33       2015-16             1
10     1  12  1941-42       2014-15             1
11     5  11  1939-40       2012-13             4
12     1   3  1948-49       2013-14             4
13     1   5     1929       2011-12             2
14     1   7  1944-45       2015-16             2
15     2   6  1935-36       2016-17             4
16     1   2  1949-50       2008-09             4
17     4  11  1933-34       2000-01             3
18     1   5  1960-61       2012-13             3
19     1   5  1951-52       2015-16             2
20     2   9  1998-99       2013-14             2
21     2   2  1941-42       2016-17             6
22     -   -  1977-78       2015-16             8
23     1   2  1959-60       2014-15             5
24     1   1  2004-05       2015-16             6
25     4   5  1935-36       2010-11             5
26     -   2  1961-62       2009-10             5
27     -   -  1940-41       2007-08            11
28     1   1  1930-31       2016-17             6
29     1   1  1963-64       2015-16             6
..   ...  ..      ...           ...           ...
31     -   2  1943-44       1987-88             4
32     -   -  1977-78       2005-06            12
33     -   -  1987-88       1996-97             7
34     -   3  1941-42       1990-91             4
35     -   -  1991-92       2004-05             7
36     -   -  2007-08       2014-15             8
37     -   1  1962-63       2014-15             5
38     -   -  1994-95       1997-98            10
39     -   -  1978-79       2008-09             8
40     -   -  1971-72       1979-80            12
41     -   -  1963-64       1969-70             7
42     -   -  1999-00       2008-09            17
43     -   -  2014-15       2014-15            10
44     -   4     1929       1934-35             3
45     -   -  1990-91       1992-93             9
46     -   -  1947-48       2006-07             7
47     -   -  1996-97       1998-99            17
48     -   -  1995-96       1997-98            19
49     -   -  1945-46       1950-51            10
50     -   -  1953-54       1957-58            14
51     1   1     1929       1931-32             6
52     -   -  1979-80       1980-81            10
53     -   -     1929       1930-31             8
54     -   -  1950-51       1993-94            16
55     -   -  2016-17       2016-17            17
56     -   -  2009-10       2009-10            20
57     -   -  1956-57       1956-57            16
58     -   -  1951-52       1951-52            16
59     -   -  1955-56       1955-56            15
60     -   -  2017-18       2017-18             9

[61 rows x 20 columns]
<class 'pandas.core.frame.DataFrame'>

In [408]:
print(laliga["Champion"].value_counts())
print(laliga.info())

-     52
1      3
8      1
2      1
6      1
33     1
10     1
25     1
Name: Champion, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null object
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null object
GoalsAgainst     61 non-null object
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: int64(3), object(17)
memory usage: 9.6+ KB
None

In [409]:
# Question - Read the data set and replace dashes with 0 to make sure you can perform 
#            arithmetic operations on the data. (5 points)
# Answer -  
laliga.replace("-",0,inplace=True)
print(laliga["Champion"].value_counts())
print(laliga["Points"].value_counts())
#print(laliga)

0     52
1      3
8      1
2      1
6      1
33     1
10     1
25     1
Name: Champion, dtype: int64
538     1
91      1
353     1
1389    1
132     1
19      1
343     1
667     1
22      1
42      1
277     1
445     1
1884    1
34      1
285     1
970     1
83      1
52      1
188     1
168     1
2792    1
1351    1
1789    1
150     1
1814    1
3368    1
1416    1
416     1
4385    1
1174    1
       ..
3442    1
375     1
76      1
606     1
40      1
107     1
4262    1
293     1
662     1
56      1
148     1
81      1
2819    1
2573    1
2109    1
96      1
510     1
553     1
1471    1
1020    1
1148    1
190     1
230     1
1314    1
3386    1
421     1
71      1
35      1
242     1
0       1
Name: Points, Length: 61, dtype: int64

In [411]:
# Question - Print all the teams which have started playing between 1930-1980. (5 points)
# Answer

print(type(laliga["Debut"]))
Deb = pd.DataFrame(laliga["Debut"])

str_val = Deb["Debut"]
i = 0

for index, row in laliga.iterrows():
    str_val = row['Debut']
    if (str_val.find('-') > 0):
        extracted_year = pd.to_numeric(str_val[:str_val.find('-')])
    else:
        extracted_year = pd.to_numeric(str_val)
    laliga.set_value(index,'DebutYear',pd.to_numeric(extracted_year))
#print(Deb)

Deb_Between = laliga.loc[(laliga['DebutYear']>=1930)&(laliga['DebutYear'] <=1980)]
Deb_Between = Deb_Between.reset_index(drop=True)
print(Deb_Between)

<class 'pandas.core.series.Series'>
    Pos                 Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
0     4             Valencia       82   3386        2664     1187        616
1     6              Sevilla       73   2819        2408      990        531
2     9             Zaragoza       58   2109        1986      698        522
3    10           Real Betis       51   1884        1728      606        440
4    11  Deportivo La Coruna       45   1814        1530      563        392
5    12           Celta Vigo       51   1789        1698      586        389
6    13           Valladolid       42   1471        1466      463        384
7    15       Sporting Gijon       43   1389        1458      471        358
8    16              Osasuna       37   1351        1318      426        327
9    17               Malaga       36   1314        1255      390        330
10   18               Oviedo       38   1174        1192      408        292
11   19             Mallorca       27   1148         988      333        256
12   20           Las Palmas       33   1020        1096      367        242
13   22              Granada       23    667         742      218        175
14   23       Rayo Vallecano       17    662         652      189        148
15   24                Elche       21    606         678      203        180
16   26             Hercules       20    538         628      184        149
17   27             Tenerife       13    510         494      155        128
18   28               Murcia       18    445         586      145        143
19   29               Alaves       12    421         380      125         81
20   30              Levante       11    416         402      113         95
21   31            Salamanca       12    375         423      123        102
22   32             Sabadell       14    353         426      129         95
23   33                Cadiz       12    343         448      104        127
24   35            Castellon       11    285         334      103         79
25   38              Cordoba        9    230         282       82         63
26   40           Recreativo        5    188         186       50         46
27   41            Burgos CF        6    168         204       59         50
28   42           Pontevedra        6    150         180       53         44
29   47            Gimnastic        4     91         116       34         16
30   50             Alcoyano        4     76         108       30         16
31   51                 Jaen        3     71          90       29         13
32   53           AD Almeria        2     52          68       17         18
33   55               Lleida        2     40          68       13         14
34   58               Condal        1     22          30        7          8
35   59      Atletico Tetuan        1     19          30        7          5
36   60     Cultural Leonesa        1     14          30        5          4

   GamesLost GoalsFor GoalsAgainst    ...     Runner-up Third Fourth Fifth  \
0        861     4398         3469    ...             6    10     11    10
1        887     3680         3373    ...             4     4      5    12
2        766     2683         2847    ...             1     4      5     4
3        682     2159         2492    ...             0     2      3     4
4        575     2052         2188    ...             5     4      1     0
5        723     2278         2624    ...             0     0      2     4
6        619     1767         2180    ...             0     0      1     1
7        629     1753         2152    ...             1     1      2     2
8        565     1500         1834    ...             0     0      2     2
9        535     1421         1763    ...             0     0      1     0
10       492     1642         1951    ...             0     3      2     2
11       399     1182         1371    ...             0     2      0     2
12       487     1347         1746    ...             1     1      1     1
13       349      819         1157    ...             0     0      0     0
14       305      760         1088    ...             0     0      0     0
15       295      750         1022    ...             0     0      0     1
16       295      716         1050    ...             0     0      0     1
17       211      619          744    ...             0     0      0     2
18       298      607          992    ...             0     0      0     0
19       174      458          623    ...             0     0      0     0
20       194      430          632    ...             0     0      0     0
21       198      422          581    ...             0     0      0     0
22       202      492          720    ...             0     0      1     1
23       217      393          662    ...             0     0      0     0
24       152      419          588    ...             0     0      1     2
25       137      285          430    ...             0     0      0     1
26        90      202          296    ...             0     0      0     0
27        95      216          310    ...             0     0      0     0
28        83      165          221    ...             0     0      0     0
29        66      181          295    ...             0     0      0     0
30        62      145          252    ...             0     0      0     0
31        48      121          183    ...             0     0      0     0
32        33       71          116    ...             0     0      0     0
33        41       70          182    ...             0     0      0     0
34        15       37           57    ...             0     0      0     0
35        18       51           85    ...             0     0      0     0
36        21       34           65    ...             0     0      0     0

   Sixth   T    Debut Since/LastApp BestPosition  DebutYear
0      7  50  1931-32       1987-88            1     1931.0
1      6  32  1934-35       2001-02            1     1934.0
2      4  18  1939-40       2012-13            2     1939.0
3      4  14  1932-33       2015-16            1     1932.0
4      1  12  1941-42       2014-15            1     1941.0
5      5  11  1939-40       2012-13            4     1939.0
6      1   3  1948-49       2013-14            4     1948.0
7      1   7  1944-45       2015-16            2     1944.0
8      2   6  1935-36       2016-17            4     1935.0
9      1   2  1949-50       2008-09            4     1949.0
10     4  11  1933-34       2000-01            3     1933.0
11     1   5  1960-61       2012-13            3     1960.0
12     1   5  1951-52       2015-16            2     1951.0
13     2   2  1941-42       2016-17            6     1941.0
14     0   0  1977-78       2015-16            8     1977.0
15     1   2  1959-60       2014-15            5     1959.0
16     4   5  1935-36       2010-11            5     1935.0
17     0   2  1961-62       2009-10            5     1961.0
18     0   0  1940-41       2007-08           11     1940.0
19     1   1  1930-31       2016-17            6     1930.0
20     1   1  1963-64       2015-16            6     1963.0
21     0   0  1974-75       1998-99            7     1974.0
22     0   2  1943-44       1987-88            4     1943.0
23     0   0  1977-78       2005-06           12     1977.0
24     0   3  1941-42       1990-91            4     1941.0
25     0   1  1962-63       2014-15            5     1962.0
26     0   0  1978-79       2008-09            8     1978.0
27     0   0  1971-72       1979-80           12     1971.0
28     0   0  1963-64       1969-70            7     1963.0
29     0   0  1947-48       2006-07            7     1947.0
30     0   0  1945-46       1950-51           10     1945.0
31     0   0  1953-54       1957-58           14     1953.0
32     0   0  1979-80       1980-81           10     1979.0
33     0   0  1950-51       1993-94           16     1950.0
34     0   0  1956-57       1956-57           16     1956.0
35     0   0  1951-52       1951-52           16     1951.0
36     0   0  1955-56       1955-56           15     1955.0

[37 rows x 21 columns]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  app.launch_new_instance()

In [412]:
# Question - Print the list of teams which came Top 5 in terms of points (5 points)
# Answer - 

laliga_toppoints = laliga.groupby("Team")["Points"].agg(["sum"])
#print(laliga_toppoints)
laliga_toppoints["sum"] = pd.to_numeric(laliga_toppoints["sum"])
print(laliga_toppoints.sort_values("sum",ascending = False).head())

                  sum
Team
Real Madrid      4385
Barcelona        4262
Atletico Madrid  3442
Valencia         3386
Athletic Bilbao  3368

In [453]:
#Question - Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences.
#            Using the same function, find the team which has maximum and minimum goal difference. (5 points)

def Goal_diff_count(df, col_names):
    col_list = ['Team', 'GoalsFor','GoalsAgainst','GoalsDiff']
    df['GoalsDiff']  = pd.to_numeric(df['GoalsFor']) - pd.to_numeric(df['GoalsAgainst'])
    Max_Goal_diff = df["GoalsDiff"].max()
    Min_Goal_diff = df["GoalsDiff"].min()
 
    print('Maximum Goal Difference is ' , str(Max_Goal_diff))
    print('Mimimum Goal Difference is ', str(Min_Goal_diff))
    
    for index, row in df.iterrows():
        if pd.to_numeric(row['GoalsDiff']) == pd.to_numeric(Max_Goal_diff):
            print('The Team ' , row['Team'] , ' has maximum goal difference of ', row['GoalsDiff'] )
        
        if row['GoalsDiff'] == Min_Goal_diff:
            print('The Team ' , row['Team'] , ' has minimum goal difference of ' , row['GoalsDiff'])

    ret_frame = df.loc[:, col_list]         
    return ret_frame

df_goal_diff = Goal_diff_count(laliga, sel_col)
print(df_goal_diff)

Maximum Goal Difference is  2807
Mimimum Goal Difference is  -525
The Team  Real Madrid  has maximum goal difference of  2807
The Team  Racing Santander  has minimum goal difference of  -525
                   Team GoalsFor GoalsAgainst  GoalsDiff
0           Real Madrid     5947         3140       2807
1             Barcelona     5900         3114       2786
2       Atletico Madrid     4534         3309       1225
3              Valencia     4398         3469        929
4       Athletic Bilbao     4631         3700        931
5               Sevilla     3680         3373        307
6              Espanyol     3609         3889       -280
7         Real Sociedad     3228         3230         -2
8              Zaragoza     2683         2847       -164
9            Real Betis     2159         2492       -333
10  Deportivo La Coruna     2052         2188       -136
11           Celta Vigo     2278         2624       -346
12           Valladolid     1767         2180       -413
13     Racing Santander     1843         2368       -525
14       Sporting Gijon     1753         2152       -399
15              Osasuna     1500         1834       -334
16               Malaga     1421         1763       -342
17               Oviedo     1642         1951       -309
18             Mallorca     1182         1371       -189
19           Las Palmas     1347         1746       -399
20           Villarreal      892          789        103
21              Granada      819         1157       -338
22       Rayo Vallecano      760         1088       -328
23                Elche      750         1022       -272
24               Getafe      520          633       -113
25             Hercules      716         1050       -334
26             Tenerife      619          744       -125
27               Murcia      607          992       -385
28               Alaves      458          623       -165
29              Levante      430          632       -202
..                  ...      ...          ...        ...
31             Sabadell      492          720       -228
32                Cadiz      393          662       -269
33             Logrones      291          489       -198
34            Castellon      419          588       -169
35             Albacete      320          410        -90
36              Almeria      244          366       -122
37              Cordoba      285          430       -145
38           Compostela      199          241        -42
39           Recreativo      202          296        -94
40            Burgos CF      216          310        -94
41           Pontevedra      165          221        -56
42             Numancia      155          253        -98
43                Eibar      139          167        -28
44               Arenas      227          308        -81
45          Real Burgos      101          139        -38
46            Gimnastic      181          295       -114
47          Extremadura       62          117        -55
48               Merida       70          115        -45
49             Alcoyano      145          252       -107
50                 Jaen      121          183        -62
51           Real Union      153          184        -31
52           AD Almeria       71          116        -45
53               Europa       97          131        -34
54               Lleida       70          182       -112
55              Leganes       36           55        -19
56                Xerez       38           66        -28
57               Condal       37           57        -20
58      Atletico Tetuan       51           85        -34
59     Cultural Leonesa       34           65        -31
60               Girona        0            0          0

[61 rows x 4 columns]

In [454]:
# Question - Create a new column with name “Winning Percent” and append it to the data set.
#            Percentage of Winning = (GamesWon  GamesPlayed)100
#            If there are any numerical error, replace it with 0%
#            Print the top 5 teams which has the highest Winning percentage
# Answer   -

laliga["WinningPercent"] = ((pd.to_numeric(laliga["GamesWon"]) / pd.to_numeric(laliga["GamesPlayed"])*100))
laliga["WinningPercent"] = laliga["WinningPercent"]
print(laliga.sort_values("WinningPercent",ascending = False).head(5))

   Pos             Team  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
0    1      Real Madrid       86    4385        2762     1647        552
1    2        Barcelona       86    4262        2762     1581        573
2    3  Atletico Madrid       80    3442        2614     1241        598
3    4         Valencia       82    3386        2664     1187        616
4    5  Athletic Bilbao       86    3368        2762     1209        633

  GamesLost GoalsFor GoalsAgainst       ...       Fourth Fifth Sixth   T  \
0       563     5947         3140       ...            8     3     4  79
1       608     5900         3114       ...           12     4     6  83
2       775     4534         3309       ...            9     7     6  56
3       861     4398         3469       ...           11    10     7  50
4       920     4631         3700       ...            5     8    10  49

     Debut Since/LastApp BestPosition DebutYear GoalsDiff  WinningPercent
0     1929          1929            1    1929.0      2807       59.630702
1     1929          1929            1    1929.0      2786       57.241130
2     1929       2002-03            1    1929.0      1225       47.475134
3  1931-32       1987-88            1    1931.0       929       44.557057
4     1929          1929            1    1929.0       931       43.772629

[5 rows x 23 columns]

In [455]:
# Question -  Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
#              Eg Best Position                Points
#              1                              25000
#              2                              7000    
# Answer   -

laliga["Points"] = pd.to_numeric(laliga["Points"])
laliga_Sum_BestPosition = laliga.groupby("BestPosition")["Points"].agg(["sum"])
print(laliga_Sum_BestPosition.sort_values("BestPosition",ascending = True))

                sum
BestPosition
1             27933
2              6904
3              5221
4              6563
5              1884
6              2113
7              1186
8              1134
9                96
10              450
11              445
12              511
14               71
15               14
16               81
17              266
19               81
20               34